<!DOCTYPE html>
<html lang="es">
<%- include('includes/head') %>
<body>
  <%- include('includes/nav') %>
  <main>
    <h1><%= titulo %></h1>
    <p>Gestión de precios en Node.js.</p>
  </main>
  <%- include('includes/footer') %>
</body>
</html>