<!DOCTYPE html>
<html lang="es">
<%- include('includes/head') %>
<body>
  <%- include('includes/nav') %>
  <main>
    <h1>Acerca de</h1>
    <p>Información sobre el laboratorio.</p>
  </main>
  <%- include('includes/footer') %>
</body>
</html>
