
.personalizado-card {
  border-left: 6px solid #0d6efd;
  background-color: #fefefe;
}

h1, h3 {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.btn-success {
  background-color: #198754;
  border: none;
}

.btn-success:hover {
  background-color: #157347;
}
